

     <%= form_for @picture do |f| %>
         

          <p>
            <%= f.label "author" %><br>
            <%= f.text_field "author" %>
          </p>
          <p>
            <%= f.label "title" %><br>
            <%= f.text_field "title" %>
          </p>

          <p>
            <%= f.label "Url" %><br>
            <%= f.text_field "custom_url" %>
          </p>

          <div class="field">
             <%= f.label "Category" %><br>
          <%= f.select :category, Picture.all.collect {|x| x.category }, {}, :multiple => false %>
          </div><br>

          <p>
            <%= f.submit "Save", class: "button success secondary right"%> 
          </p>


    <% end %>

  