<div class="row">



	<h1>Edit Picture: <%= @picture[:title] %></h1>
	<p>By <%= @picture[:author] %></p>
	<hr>

	
	<%= render 'navlinks' %>

	<div class="clearfix"></div>

	<div class="medium-6 columns">
		<img class= "th" src="http://lorempixel.com/650/550/<%= @picture[:url]%>"><br>


	</div>

	<div class="medium-6 columns">
			<%= render 'form' %>
	</div>

</div>