<div class="row">



	<h1>Edit Picture: <%= @picture[:title] %></h1>
	<p>By <%= @picture[:author] %></p>
	<hr>

	
	<p><%= link_to "Back", root_url %> | <%= link_to "Edit", picture_path(@picture) %> | <%= link_to "Delete", @picture, method: :delete, data: { confirm: 'Are you sure?' } %>

	<div class="clearfix"></div>

	<div class="medium-6 columns">
		<img class= "th" src="http://lorempixel.com/650/550/<%= @picture[:url]%>"><br>


	</div>

	<div class="medium-6 columns">
			<%= render 'form' %>
	</div>

</div>